body {
    font-family: 'Source Sans Pro', sans-serif;
    color:#dbe9ed;
    background-color: #000;
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 300;
}

h1,
.h1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0rem;
  margin-bottom: 0.7rem;
}

#name {
    background-color: #000;
    z-index: 10;
    position: absolute;
    width: 250px;
    bottom:-180px;
    right: 40px;
    padding: 20px;
    opacity: 0.7;
}

iframe {
    position: absolute;
    z-index: 0;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s;

}

.grey {
    color:	#888888;
}

.nr {
    background-color: #000;
    z-index: 10;
    position: absolute;
    bottom: 30px;
    right: 33px;
    padding: 10px;
    opacity: 0.7;
    font-weight: 600;
}

#next {
    position: relative;
    width: 30px;
    right: 0;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0);
    border-style: none; 
}

#back {
    position: relative;
    width: 30px;
    left: 0;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0);
    border-style: none; 
    outline: 0;
}

#next svg {
    position: absolute;
    right: 20px;
}

#back svg {
    position: absolute;
    left: 20px;
}

#back:focus {
    border-style: none;
    outline: 0;
}

#next:focus {
    border-style: none;
    outline: 0;
}